<%= turbo_frame_tag(dom_id(chat)) do %>
    <%= link_to chat_path chat do %>
        <div class="flex items-center mb-4 cursor-pointer hover:bg-gray-100 hover:text-gray-700 p-2 rounded-md">
            <div class="w-12 h-12 bg-gray-300 rounded-full mr-3">
              <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-12 h-12 rounded-full">                    
            </div>
            <div class="flex-1">
                <h2 class="font-semibold text-lg"><%= chat.user.username %></h2>
                <p class="text-gray-600"><%= chat.name %></p>
            </div>
        </div>
    <% end %> 
 <% end %>
